<!doctype html>
<title>My application deployed automatically</title>
<h1>Hello, World!</h1>

Result is {{result}} <br/>


Enter an array of elements using yaml format in the first form. <br/>

The second form accepts an integer representing start index of the array. <br/>

The third form accepts an integer representing end index of the array. <br/>

The elements of the array from start to end are concatenated as a result. <br/><br/>


An example input for the first form is:</br>
- A<br/>
- B<br/>
- C<br/>
- D<br/><br/>

If now the second form has value 1 and the third value has value 3 the result will be BCD. <br/>

Note: If start index is less than 0, or end index is greater than or equal to the length of the array the empty string will be returned. <br/>


<form action="compute" method="post">
  <textarea name="input1" rows="10" cols="30">
  </textarea>
  <textarea name="input2" rows="10" cols="30">
  </textarea>
  <textarea name="input3" rows="10" cols="30">
  </textarea>
  <br>
  <input type="submit">
</form>